<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>
<listener class-name="automationTest.Listeners">
</listener>
</listeners>
     
      <test name="Validating title in the page">
      <classes>
    
      <class name="automationTest.ValidateTitle"/>
       </classes>
      </test> 
      
     <test name="App testing">
      <classes>
      <class name="automationTest.AppTest"/>
       </classes>
      </test> 
      
     <test name="Validating navigation bar">
      <classes>
      <class name="automationTest.ValidateNavigationBar"/>
       </classes>
      </test> 
     
     <test name="Validating user login">
      <classes>
      <class name="automationTest.HomePage"/>
      </classes>
      </test> 
      <!-- Test -->
</suite> <!-- Suite -->
